<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
        <a href="signin.html" class="nav"><span onclick="logout()">SignOut</span></a>
        <a href="admin.html" class="nav">Home</a>
    </div>
    <div class="whole">
        <div class="left">
            <a class="active" href="#home">Groups<span>(2)</span></a>
            <a href="admin.html" class="nav">Create-Groups</a>
        </div>
        <div class="right">
            <form action="members.html" class="">  
                <h4>Your Groups</h4>
                <div class="sixth">
                    <div class="groupname">
                        <p>Bikobyamukama Sacco<span><a href="#"><input type="submit" value="Add Member"></a></span></p>
                    </div>
                    <div class="groupname">
                        <p>Bikobyamukama Sacco<span><a href="#"><input type="submit" value="Add Member"></a></span></p>
                    </div>
                </div>
            </form>    
        </div>
    </div>
<script src="../static/js/signup.js"></script>
<script src="../static/js/sent.js"></script>
</body>
</html>