<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
        <a href="signin.html" class="nav">SignOut</a>
        <a href="main.html" class="nav">Inbox</a>
    </div>
    <div class="whole">
        <div class="left">
            <a href="Home#" class="active">Create-Groups</a>
        </div>
        <div class="right">
            <form action="ad-grp.html" id="create_group">
                <div class="negative" id="negative"></div>
                <div class="postive" id="postive"></div>
                <label for="group">Create Group</label>
                <input type="text" id="group" placeholder="enter new group name...">
                <input type="submit" value="Create Group">
            </form>    
        </div>
    </div>
    <script src="../static/js/create_grp.js"></script>
</body>
</html>