<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
        <a href="signin.html" class="nav">SignOut</a>
    </div>
    <div class="whole">
        <div class="left">
            <a href="new.html">New Message</a>
            <a href="main.html">Inbox<span> (4)</span></a>
            <a href="sent.html">sent<span> (2)</span></a>
            <a href="draft.html">Draft<span>(2)</span></a>
            <a class="active" href="#home">Groups<span>(2)</span></a>
        </div>
        <div class="right">
            <form action="sent.html" class="">  
                <h4>Your Groups</h4>
                <div class="sixth">
                    <div class="groupname">
                    <p>Bikobyamukama Sacco</p>
                    </div>
                    <div class="groupname">
                        <p>Bikobyamukama Sacco</p>
                    </div>
                </div>
            </form>    
        </div>
    </div>
<script src="../static/js/signup.js"></script>
</body>
</html>