<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
        <a href="signin.html" class="nav">SignOut</a>
        <a href="admin.html" class="nav">Home</a>
        <a class="active" href="#home">Create Group</a>
    </div>
    <div class="whole">
        <div class="left">
            <a class="active" href="#home">Groups<span>(2)</span></a>
        </div>
        <div class="right">
            <form action="ad-grp.html" class="">  
                <h4>Add Member To Group</h4>
                <div class="sixth">
                    <div class="field">
                        <label>Select Username:</label>
                        <select class="field">
                            <option value="1">AHMED</option>
                            <option value="2">Trevor</option>
                            <option value="2">okidi</option>
                            <option value="2">Samuel</option>
                            <option value="2">Json</option>
                        </select>
                        <a href="ad-grp.html"><input type="submit" value="Add Member"></a>
                    </div>
                </div>
            </form>    
        </div>
    </div>
<script src="../static/js/signup.js"></script>
</body>
</html>