<!DOCTYPE html>
<html>
<head>
<title>Epic Email</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="utf-8"> 
<META name="keywords" lang="en-us" content="emails">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="topnav">
    <div class="logo">
        <a href="signin.html">Epic Email</a>   
    </div>
    <a href="signin.html" class="nav">SignOut</a>
</div>
<div class="whole">
    <div class="left">
        <a href="new.html">New Message</a>
        <a href="main.html">Inbox<span>(4)</span></a>
        <a class="active" href="#home">sent<span>(2)</span></a>
        <a href="draft.html">Draft<span>(2)</span></a>
        <a href="group.html">Groups<span>(2)</span></a>
    </div>
    <div class="right" id="whole">
        <h4>Emails Sent</h4>
       <div id="sent_mails"></div>
    </div>
</div>
<script src="../static/js/sent.js"></script>
</body>
</html>