<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
        <a href="admin.html" class="nav">admin</a>
    </div>
    <div class="whole">
        <div class="auth">
            <h2>Epic Email</h2>
            <p>A web app that helps people exchange messages over the internet.</p>
        </div>
        <div class="two">
            <form action="main.html" class="login-form" id="login_form">
                <h1>LOGIN</h1>
                <div id="add"></div>
                <input type="email" id="email" placeholder="Email"/>
                <input type="password" id="password" placeholder="Password"/>
                <button type="submit" class="button">LOGIN</button>
                <P class = "message">Not registered?<a href = "signup.html">SignUp</a></p>
                <P class = "message"><a href = "email.html">forgot my password</a></p>
            </form>
        </div>
    </div>
<script src="../static/js/signin.js"></script>
</body>
</html>