<!DOCTYPE html>
<html>
    <head>
        <title>Epic Email</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta charset="utf-8"> 
        <META name="keywords" lang="en-us" content="emails">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="topnav">
        <div class="logo">
            <a href="signin.html">Epic Email</a>   
        </div>
    </div>
    <div class="whole">
        <div class="auth">
            <h2>Epic Email</h2>
            <p>A web app that helps people exchange messages over the internet.</p>
        </div>
        <div class="two">
                <form action="index.html" id="signup_form" class="login-form">
                    <h1>SIGNUP</h1>
                    <div class="negative" id="negative"></div>
                    <div class="postive" id="postive"></div>
                    <input type="text" id="firstname" placeholder="firstname"/>
                    <input type="text" id="lastname" placeholder="lastname"/>
                    <input type="email" id="email" placeholder="Email"/>
                    <input type="password" id="password" placeholder="Password"/>
                    <button type="submit" class="button">SignUp</button>
                    <P class = "message">already registered?<a href = "signin.html">login</a></p>
                </form>
        </div>
    </div>
<script src="../static/js/signup.js"></script>
</body>
</html>            